.features {
   @media (min-width: 993px) {
      background: #F4F4F4;
      background-size: cover;
   }
}

.wrapper {
   @include container-width;
}

.features__container {
   padding-left: 20px;
   padding-right: 20px;
   
   @media (min-width: 993px) {
      display: flex;
      padding-bottom: 35px;
   }
}
   
.features__title-mobile {
   @include font-family-bold;
   margin-top: 120px;
   font-size: 32px;
   line-height: 38px;
   color: $featureTitleColor;
   text-align: center;
   
   @media (min-width: 993px) {
      font-size: 42px;
      line-height: 44px;
   }

   @media (min-width: 993px) {
      display: none;
   }
}

.fetures__content {
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
   @media (min-width: 993px) {
      width: 50%;
   }
}

.features__content-item {
   margin-top: 40px;
   list-style-type: none;
   text-align: center;
   @media (min-width: 481px) {
      display: flex;
      justify-content: space-around;
   }
}

.feater__content-description {
   @media (min-width: 481px) {
      text-align: start;
      width: 75%;
   }

   @media (min-width: 768px) {
      width: 80%;
   }

   @media (min-width: 993px) {
      width: 70%;
   }
}

.features__content-img {
   margin-bottom: 20px;
}

.features__content-title {
   @include font-family-regular;
   margin-top: 0;
   font-size: 16px;
   line-height: 16px;
   color: $featureContentTitleColor;  
}

.features__content-text {
   @include font-family-lato-regular;
   font-size: 14px;
   line-height: 21px;
   color: $seatureContentTextColor;
}

.feature__img {
   @media (min-width: 768px) {
      width: 100%;
      height: 519px;
      position: relative;
   }
   @media (min-width: 993px) {
      width: 50%;
      
   }
}

.features__img-title-decktop {
   display: none;
   @media (min-width: 993px) {
      display: block;
      @include font-family-bold;
      margin-top: 56px;
      margin-bottom: 18px;
      font-size: 48px;
      line-height: 50px;
      color: $featureTitleColor;
      text-align: center;
   }
}

.features__img-img {
   height: 381px;
   @media (min-width: 481px) {
      height: 519px;
   }

   @media (min-width: 768px) {
      position: absolute;
      right: -50px;
      bottom: 0;
   }

   @media (min-width: 993px) {
      position: static;
      
   }
}