@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("../fonts/Lato-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("../fonts/Lato-BoldItalic.woff2");
  font-weight: 700;
}
