.page__header-container{
  background-image: url("../../dist/img/header/bgr.jpg");
  background-position: center center;
  background-size: cover;

}

.page__header-sub-container{
  background: $headerMobileColor;
  @media (min-width: 993px) {
    background: $transparentColor;
  }
}

.page__header {
  @include container-width;
}

.header__nav {
  position: relative;
  padding-top: 32px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 481px) {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.header__link-logo-img-hover {
  display: none;
  width: 45px;
  height: 45px;
}

.header__link-logo {
  padding-left: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;

  &:hover > * {
    color: $hoverFullSizeColorLogo;
  }
  &:hover > .header__link-logo-img > .header__link-logo-img-no-hover {
    display: none;
  }
  &:hover > .header__link-logo-img > .header__link-logo-img-hover {
    display: block;
  }

  &-text {
    display: none;
    @media (min-width: 481px) {
      display: block;
      padding-left: 17px;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      color: $logoTextColor;
      text-decoration: none;
    }

  }
}

.buy-now-btn {
  @include btn-styles;

  &:hover {
    background: $hoverFullSizeColorBt;
    border: 1px solid $hoverFullSizeColorBorderBt;
  }
  &:hover > span {
    color: $hoverFullSizeColorBtText;
  }

  @media (min-width: 481px) {
    margin-right: 16px;
  }

  @media (min-width: 993px) {
  }

}

.buy-now-btn-text {
  @include font-family-bold;
  font-size: 15px;
  line-height: 15px;
  color: $btnTextColor;
  padding: 11px 28px;
}

.header__menu {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  display: none;
  width: 290.9px;
  list-style-type: none;
  top: 335px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0;
  padding-right: 0;
  background-color: $menuListColor;

  @media (min-width: 481px) {
    top: 26px;
    width: 100%;
    position: relative;
    display: flex !important;
    justify-content: center;
    background-color: transparent;
  }

  @media (min-width: 993px) {
    position: absolute;
    top: 55px;
    left: 60%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: $transparentColor;
  }
  @media (min-width: 1100px) {
    left: 65%;
  }
}

.menu__item-fake {
  height: 14px;
  border-bottom: none;
  @media (min-width: 481px) {
    display: none;
  }
}

.menu__item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 5px $menuItemsBorderColor solid;
  @media (min-width: 481px) {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: none;
    &:not(:first-child) {
      margin-left: 34px;
    }
  }
}


.menu__link {
  @include font-family-regular;
  font-size: 26px;
  line-height: 26px;
  color: $menuItemsColor;
  text-decoration: none;
  padding-left: 34px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: 481px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    @include font-family-bold;
    font-size: 16px;
    line-height: 18px;
    color: $menuItemsLapTopColor;
  }

  @media (min-width: 481px) {
    &:hover {
      color: $hoverFullSizeColorNavigation;
    }
  }
}

.menu__item:hover > a {
  @media (max-width: 480px) {
    color: $menuItemsHoverColor;
    border-left: 5px $menuItemsHoverColor solid;
  }
}


.hide-element {
  display: none;
}

.show-element {
  display: block;
}

.navigation-btn-menu {
  padding-right: 16px;
  @media (min-width: 481px) {
    display: none !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.navigation-btn-exit {
  padding-right: 16px;
  @media (min-width: 481px) {
    display: none !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.header__title-container {
  display: block;
  padding-top: 50px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: 400px;
    padding-top: 40px;
  }

  @media (min-width: 768px) {
    width: 700px;
    padding-top: 40px;
  }

  @media (min-width: 993px) {
    padding-top: 60px;
    width: 800px;
  }

}

.header__title-main {
  text-align: center;
  display: block;
  @include font-family-bold;
  font-size: 48px;
  line-height: 48px;
  color: $headerTitleColor;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: 480px) {
    @include font-family-bold;
    font-size: 62px;
    line-height: 62px;
  }

  @media (min-width: 768px) {
    @include font-family-bold;
    font-size: 72px;
    line-height: 72px;
  }

  @media (min-width: 993px) {
    @include font-family-bold;
    font-size: 82px;
    line-height: 82px;
  }

}

.header__title-sub {
  display: block;
  @include font-family-regular;
  font-size: 18px;
  line-height: 24px;
  color: $headerSubTitleColor;
  text-align: center;
  margin-top: 19px;

  @media (min-width: 480px) {

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 768px) {

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: 993px) {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
  }


}

.header__title-footer {
  display: block;
  @include font-family-regular;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $headerTitleFooterColor;
  margin-top: 14px;
  padding-bottom: 416px;

  @media (min-width: 480px) {

    @include font-family-regular;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 439px;
  }

  @media (min-width: 768px) {

    @include font-family-regular;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 439px;
  }

  @media (min-width: 993px) {
    @include font-family-regular;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 449px;
  }

}


.header__footer {
  position: relative;
}

.download-btn {
  @include btn-styles;
  position: absolute;
  top: -2px;
  left: 50%;
  width: 290px;
  transform: translate(-50%, -50%);
  &:hover {
    background: $hoverFullSizeColorBt;
    border: 2px solid $hoverFullSizeColorBorderBt;
  }
  &:hover > span {
    color: $hoverFullSizeColorBtText;
  }
}

.download-btn-text {
  @include font-family-bold;
  padding: 11px 28px;
  font-size: 18px;
  line-height: 20px;
  color: $btnTextColor;
}

.header__footer-text {
  display: block;
  text-align: center;
  padding-top: 25.5px;
  @include font-family-regular;
  font-size: 14px;
  line-height: 14px;
  color: $headerFooterTextColor
}


