
@mixin font-family-bold{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin font-family-regular{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-family-lato-bold{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin font-family-lato-regular{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin container-margin{
  margin-left: auto;
  margin-right: auto;
}

@mixin btn-styles{
  border: 0;
  padding: 0;
  background: $btnColor;
  border-radius: 40px;
  height: 37px;
  display: block;
  align-items: center;
}

@mixin container-width{
  width: 320px;
  @include container-margin;

  @media (min-width: 340px) {
    width: 340px;
  }

  @media (min-width: 360px) {
    width: 360px;
  }

  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 576px) {
    width: 576px;
  }

  @media (min-width: 640px) {
    width: 640px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 800px) {
    width: 800px;
  }

  @media (min-width: 860px) {
    width: 860px;
  }

  @media (min-width: 920px) {
    width: 920px;
  }

  @media (min-width: 992px) {
    width: 992px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }

}