.present {
   @include container-width;
}

.present__container {
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.present__title {
   @include font-family-bold;
   margin-top: 80px;
   font-size: 26px;
   line-height: 28px;
   text-transform: uppercase;
   color: $presentTitleColor;
   
   @media (min-width: 481px) {
      font-size: 42px;
      line-height: 42px;
   }

   @media (min-width: 993px) {
      font-size: 54px;
      line-height: 54px;
   }
}

.present__text {
   @include font-family-lato-regular;
   font-size: 14px;
   line-height: 20px;
   color: $presentTextColor;

   @media (min-width: 481px) {
      font-size: 21px;
      line-height: 32px;
   }

   @media (min-width: 993px) {
      font-size: 21px;
      line-height: 32px;
   }
}

.present__buttons {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.present__btn {
   display: flex;
   margin-right: 5px;
   margin-top: 20px;
   align-items: center;
}

.present__btn-link {
   display: flex;
   color: $presentBtnColor;
   background-color: $presentBtnLinkColor;
   border: 1px solid $presentBtnBorderColor;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   padding: 3px 10px;
   text-decoration: none;
   align-items: center;
}

.present__btn-img {
   margin-right: 4px;
}

.present__btn-text {
   @include font-family-regular;
   font-size: 14px;
}

.present__btn-count {
   @include font-family-regular;
   font-size: 14px;
   border-top: 1px solid $presentBtnBorderColor;
   border-right: 1px solid $presentBtnBorderColor;
   border-bottom: 1px solid $presentBtnBorderColor;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   padding: 3px 10px;
}