p {
   margin: 0;
}

.prising {
   background-image: url('../../dist/img/prising/base3.png');
   background-position: center center;
   background-size: cover;
   
   @media (min-width: 481px) {
      background-image: url('../../dist/img/prising/Layer1.png');
      background-position: center center;
      background-size: cover;
   }

    @media (min-width: 993px) {
      background-image: url('../../dist/img/prising/Layer2.png');
      background-position: center center;
      background-size: cover;
   }
}
.wrapper {
   @include container-width;
}
.prising__container {
   margin: 0 auto !important;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}
.prising__title {
   @include font-family-regular;
   margin: 0;
   padding-top: 15px;
   font-size: 28px;
   line-height: 42px;
   color: $prisingAccentColor;
   
   @media (min-width: 481px) {
      padding-top: 88px;
      font-size: 42px;
      line-height: 44px; 
   }

   @media (min-width: 993px) {
      padding-top: 112px;
      font-size: 48px;
      line-height: 50px; 
   }

}
.prising__items {
   margin: 0 auto;
   padding-top: 32px;
   padding-left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   list-style: none;
   max-width: 320px;

   @media (min-width: 481px) {
      padding-top: 39px;
      display: flex;
      justify-content: space-around;
      max-width: 700px;
   }
  
   @media (min-width: 993px) {
      padding-top: 61px;
      max-width: 1200px;
      flex-wrap: nowrap;
      justify-content: space-between;
   }

}


.prising__item {
   background: rgba($color: $prisingAccentColor, $alpha: 0.06);
   padding-bottom: 37px;
   margin-bottom: 20px;
   width: 230px;
   height: 470px;
   box-sizing: border-box;
   
}

.prising__item--hide {
   width: 260px;
   height: 560px;
   background: rgba($color: #463048, $alpha: 0.84);
   padding-bottom: 37px;
   margin-bottom: 20px;
   box-sizing: border-box;
   justify-self: center;
   align-self: center;
   
}

.prising__item-pack {
   background: rgba($color: $prisingAccentColor, $alpha: 0.11) ;
   padding-top: 36px;
   padding-bottom: 36px;
   @include font-family-regular;
   font-size: 24px;
   line-height: 24px;
   text-transform: uppercase;
   color: $prisingAccentColor;
   
}

.prising__item-pack--hide {
   background: rgba($color: #000000, $alpha: 0.11) ;
   padding-top: 43px;
   padding-bottom: 43px;
   @include font-family-regular;
   font-size: 24px;
   line-height: 24px;
   text-transform: uppercase;
   color: $prisingAccentColor;

}
.prising__item-prise {
   padding-top: 30px;
   padding-bottom: 20px;
   @include font-family-regular;
   font-size: 60px;
   line-height: 62px;
   text-transform: uppercase;
   color: $prisingAccentColor;
}

.prising__item-prise--hide {
   
   padding-top: 14px;
   padding-bottom: 16px;
   
   @include font-family-regular;
   font-size: 82px;
   line-height: 84px;
   text-transform: uppercase;
   color: $prisingAccentColor;
}
.prising__item-period {
   // padding-top: 20px;
   padding-bottom: 70px;
   position: relative;
   @include font-family-regular;
   font-size: 14px;
   line-height: 16px;
   text-transform: uppercase;
   color: $prisingAccentColor;
   &::after{
      content: "";
      display: block;
      text-align: center;
      margin: 0 auto;
      height: 5px;
      width: 60px;
      background-color: $prisingLineColor;
      position: absolute;
      bottom: 30px;
      left: 95px;
   }
}

.prising__item-period--hide {
   // padding-top: 20px;
   padding-bottom: 91px;
   position: relative;
   @include font-family-regular;
   font-size: 14px;
   line-height: 16px;
   text-transform: uppercase;
   color: $prisingAccentColor;
   &::after{
      content: "";
      display: block;
      text-align: center;
      margin: 0 auto;
      height: 5px;
      width: 60px;
      background-color: $prisingLineColor;
      position: absolute;
      bottom: 40px;
      left: 95px;
   }
}   

.prising__item-privilege {
   padding-bottom: 12px;
   @include font-family-regular;
   font-size: 16px;
   line-height: 18px;
   color: $prisingAccentColor;
}

.prising__item-privilege--hide {
   padding-bottom: 12px;
   @include font-family-regular;
   font-size: 16px;
   line-height: 32px;
   color: $prisingAccentColor;
}
.prising__item-privilege--only {
   padding-bottom: 67px;
}
.prising__item-support{
   padding-bottom: 37px;
   @include font-family-regular;
   font-size: 16px;
   line-height: 18px;
   color: $prisingAccentColor;
}

.prising__item-support--hide {
   padding-bottom: 83px;
   @include font-family-regular;
   font-size: 16px;
   line-height: 32px;
   color: $prisingAccentColor;
}
.prising__item-link {
   background: rgba($color: $prisingAccentColor, $alpha: 0.15);
   padding: 15px 37px;
   margin:0 47px 37px;
   @include font-family-regular;
   font-size: 15px;
   line-height: 15px;
   text-transform: uppercase;
   text-decoration: none;
   color: $prisingAccentColor;
   border-radius: 25px;
}

.prising__item-link--hide {
   background: rgba($color: $prisingAccentColor, $alpha: 0.15);
   padding: 15px 47px;
   margin:0 54px 37px;
   @include font-family-regular;
   font-size: 15px;
   line-height: 15px;
   text-transform: uppercase;
   text-decoration: none;
   color: $prisingAccentColor;
   border-radius: 25px;
}

