.page__main-reviews-container {
  background-image: url("../../dist/img/reviews/bgr.jpg");
  background-position: center center;
  background-size: cover;
}

.page__main-reviews {
  @include container-width;
}

.page__main-reviews-container-content {
  padding-left: 10px;
  padding-right: 10px;
}

.reviews-title {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 57px;
  text-align: center;
  @include font-family-bold;
  font-size: 36px;
  line-height: 48px;
  color: $sectionTitleColor;

  @media (min-width: 481px) {
  font-size: 48px;
  line-height: 50px;
}

}

.reviews__figure-wrapper {
  margin-top: 53px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 481px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 58px;
    column-gap: 43px;
  }

  @media (min-width: 768px) {
    column-gap: 63px;
  }

  @media (min-width: 993px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.reviews__figure-wrapper-item {
  margin: 0;

  &:not(:first-child) {
    margin-top: 45px;

    @media (min-width: 481px) {
      margin-top: 0;

    }
  }
  @media (min-width: 481px) {
    margin-top: 0;

  }
}

.reviews__figure-wrapper-link {
  text-decoration: none;
  display: grid;
  grid-template-rows: 64px;
}

.reviews__figure-wrapper-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__figure-wrapper-item-link-context {
  margin-top: 10px;
  display: block;
  text-align: center;
  @include font-family-lato-bold;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: $reviewsContextColor;

  @media (min-width: 481px) {
    font-size: 10px;
    line-height: 14px;
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
  }

}

.reviews-footer {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-align: center;
  margin-top: 37px;
  padding-bottom: 15px;
  @include font-family-lato-regular;
  font-size: 14px;
  line-height: 21px;
  color: $reviewsFooterColor;

  @media (min-width: 481px) {
    padding-top: 67px;
  }

  @media (min-width: 768px) {
    padding-top: 118px;
  }

  @media (min-width: 993px) {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 118px;
  }
}

.figure-item-img {
  &:nth-child(4) {
    width: 225px;
    height: 24px;

  }
}

