$headerMobileColor: #27262A;
$btnColor: #8D81AC;
$btnTextColor: #FFFFFF;
$menuListColor: #333333;
$menuItemsColor: #FFFFFF;
$menuItemsBorderColor: #3B3B3B;
$menuItemsHoverColor: #8D81AC;
$menuItemsLapTopColor: #8D81AC;
$logoTextColor: #8D81AC;
$hoverFullSizeColorBt: #FFFFFF;
$hoverFullSizeColorBorderBt:#8D81AC;
$hoverFullSizeColorBtText: #8D81AC;
$hoverFullSizeColorNavigation: #FFFFFF;
$hoverFullSizeColorLogo: #FFFFFF;
$transparentColor: rgba(0,0,0,0);

$headerTitleColor:#FFFFFF;
$headerSubTitleColor: #8D81AC;
$headerTitleFooterColor: #848E97;
$headerFooterTextColor: #848E97;

$sectionTitleColor:#FFFFFF;
$reviewsContextColor:#FFFFFF;
$reviewsFooterColor: #A291A5;

$presentTitleColor: #635C73;
$presentTextColor: #323232;
$presentBtnLinkColor: #f4f4f4;
$presentBtnBorderColor: lightgray;
$presentBtnColor: #000000;

$featureTitleColor: #8D81AC;
$featureContentTitleColor: #323232;
$seatureContentTextColor: #848E97;

$prisingAccentColor: #FFFFFF;
$prisingLineColor: #8D81AC;